html {
  scroll-padding-top: 175px !important;
}
.body {
  display: flex;
  margin-top: 175px !important;
  flex-direction: column;
  width: 100%;
}

.project-body {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 30px;
}

h2 {
  color: #e32d46;
  font-size: 25px !important;
  margin: 0;
}

h3 {
  font-size: 20px !important;
  margin: 0;
  font-style: italic;
}

h4 {
  font-size: 18px !important;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  margin-bottom: 15px;
  z-index: 100;
}

.nav-items {
  background-color: white;
  flex-wrap: nowrap;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.list-item {
  color: black;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 20px;
}

.list-item:active {
  background-color: #e32d46;
  color: white;
}

.list-item:focus {
  border: black solid 3px;
}

.list-item:hover {
  background-color: #e32d46;
  color: white;
}

.logo {
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 1000px;
}

.logo-and-nav {
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 175px;
}

.portrait {
  width: 10%;
  border-radius: 40%;
  background-color: #e32d46;
  margin: 10px;
  min-width: 230px;
}

.bio {
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.bioText {
  margin: 10px;
  width: 60%;
}

.work-items {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 25px !important;
}

.work-item {
  margin: 10px;
  flex-direction: column;
  display: flex;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(227, 45, 70, 0.2) !important;
  color: black !important;
}

.accordion-button:focus {
  border-color: #e32d46 !important;
  box-shadow: 0 0 0 0 0.25 #e32d46;
}

.accordion {
  width: 90%;
  margin: 20px;
}

form {
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 90% !important;
  padding: 20px;
}

#contact-section {
  justify-content: center !important;
  display: flex;
  width: 100%;
}

#reset {
  background-color: white;
  border: #e32d46 2px solid;
  font-size: 19px;
  font-weight: bold;
  width: 115px;
}

#submit {
  background-color: #e32d46;
  border: #e32d46 2px solid;
  color: white;
  font-size: 19px;
  font-weight: bold;
  width: 115px;
}

.form-items {
  margin-top: 20px;
  width: 70%;
}

#project-section {
  width: 90% !important;
  text-align: center;
  display: flex;
}

.carousel-item {
  max-height: 600px !important;
  aspect-ratio: 1/1;
}

#carousel-image {
  height: 70%;
  margin-bottom: 10px;
}

.project-header {
  width: 80%;
  justify-content: center;
}

.carousel-section {
  width: 100%;
  margin: 10px;
}

footer {
  background-color: #e32d46;
  align-items: center;
  width: 100%;
}

footer h2 {
  color: white;
  margin: 20px;
}
